extends ../layout/layout.pug

block content
  .main.container
    .row
      .poll-container
        .col-md-5.col-md-offset-1
          - innerPoll = poll.poll;
          - pollName = Object.keys(innerPoll)[0]
          - options = innerPoll[pollName]
          - candidates = Object.keys(options).sort()
          .page-header
            h2=pollName
            .small by&nbsp;
              =authorName
          ul.list-group(id=pollName)
            each candidate in candidates
              li(id=candidate).list-group-item.option
                =candidate
                span.badge=options[candidate]
              if isLoggedIn
                form(action=path + '/options/' + candidate + '?_method=DELETE' method='post')
                  button(type="submit") Delete
          if editable
            form(action=path + '/options' method='post')
              div.form-group
                label(for="new_option") New Option
                input#new_option.form-control(type="text" name="new_option" value='new option')
        .col-md-5
          #donut(data-poll=innerPoll)
